doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://use.fontawesome.com/56d706a808.js')
    body
        main
            div#left-column
                img#avatar(src=image)
                h1#name=`${contact.name.first} ${contact.name.last}`

                div.contact-items
                    if contact.birth
                        div.birth-item
                            i.fa.fa-asterisk
                            div=contact.birth
                    if contact.address
                        div
                            i.fa.fa-home
                            div
                                for line in contact.address
                                    span=line
                                    br
                    if contact.phone
                        div
                            i.fa.fa-mobile
                            div=contact.phone
                    if contact.mail
                        div
                            i.fa.fa-envelope
                            div=contact.mail
                    if contact.web
                        div
                            i.fa.fa-globe
                            div=contact.web

                if languages
                    div.captioned-left-column-item
                        h3
                            i.fa.fa-language
                            if languagesCaption
                                span=languagesCaption
                        div
                            for language in languages
                                p
                                    b=language.name
                                    br
                                    span=language.level
                if certificates
                    div.captioned-left-column-item
                        h3
                            i.fa.fa-certificate
                            if certificatesCaption
                                span=certificatesCaption
                        div
                            for certificate in certificates
                                p
                                    b=certificate.title
                                    if(certificate.period)
                                        br
                                        span=`${certificate.period.begin}${!certificate.period.end ? '' : `- ${certificate.period.end}`}`
            div#right-column
                div.right-column-section
                    if educationCaption
                        h2=educationCaption
                    div
                        for educationItem in education
                            h3.title-with-period
                                span.period
                                    span=educationItem.period.begin
                                    if educationItem.period.end
                                        span=` - ${educationItem.period.end}`
                                span=educationItem.title
                            if educationItem.description
                                p=educationItem.description
                            if educationItem.activities
                                for activity in educationItem.activities
                                    p.bullet=`• ${activity}`
                div.right-column-section
                    if experienceCaption
                        h2=experienceCaption
                    div
                        for experienceItem in experience
                            h3.title-with-period
                                if experienceItem.period
                                    span.period
                                        span=experienceItem.period.begin
                                        if experienceItem.period.end
                                            span=` - ${experienceItem.period.end}`
                                span=experienceItem.title
                            if experienceItem.description
                                p=experienceItem.description
                            if experienceItem.activities
                                for activity in experienceItem.activities
                                    p.bullet=`• ${activity}`
